/* src/components/CreateDrawingForm.css */
.create-drawing-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.create-drawing-form form div {
  margin-bottom: 15px;
}

.create-drawing-form input {
  margin: 5px;
  padding: 8px;
  width: calc(100% - 22px);
}

.create-drawing-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 40px;
}

.create-drawing-form button:hover {
  background-color: #0056b3;
}
